body {
    background-color: #fffacd;
    font-size: 14px;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: black;  
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  20px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    background-color: #add8e6;
    color: black;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
